.para55{
    font-size: 15px;
     font-family: 'PT Sans Narrow', sans-serif;
}
.aboutimg{
    height: 500px;
    width: 260px;
}
.para81{
      font-size: 35px;
     font-family: 'PT Sans Narrow', sans-serif;
     font-weight: bolder;

}