
.special{
    background-image: url(/public/Image/Illustration/imgi_99_menu-top-bg-1536x121.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
   
}
.none{
  background-image: url(/public/Image/Illustration/imgi_103_menu-bottom-bg-768x96.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
}

.special-color{
    background-color:#000000;
}
.para2{
    color:#FD9F3E;

}
.para3{
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
      font-family: 'PT Sans Narrow', sans-serif;
}
.linkitem {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 35px;
  color: white;
  font-weight: bolder;
 transition: all 0.3s ease-in-out;
}

.linkitem:hover {
  background-color: #FD9F3E;
  color: white;
}


.listitem  {
  border-radius: 25px;
  width: 100%;
  padding-left: 55px;

  
}

.list {
  text-align: center;
  background-color: #2b2b2b;;
}
.imgfood{
    height: 150px;
    width: 150px;
     transition: transform 0.4s ease;
}
.imgfood:hover{
    transform: translateY(-10px);
    
}
.para9{
    color: #ffffff;
     font-family: 'PT Sans Narrow', sans-serif;
     font-size: 20px;
     text-decoration: none;
}
.para6{
    color: lightgrey;
     font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}
@media(min-width:768px){
.listitem  {
  border-radius: 55px;
  width: 100%;
  padding-left: 55px;
}
.para3{
    color: #ffffff;
    font-size: 45px;
    font-weight: bolder;
}
}

@media(min-width:1440px){
.list {
  text-align: center;
  background-color: #2b2b2b;
  width: 65%;
}
.para3{
    color: #ffffff;
    font-size: 65px;
    font-weight: bolder;
}
}