

.header-section {
   
    width: 100%;
    height: 90vh;
    background-image: url('/public/Image/Background/imgi_73_chef-bg-1.jpeg');
}

.header-welcome {
    color: #E86F19;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
     font-family: PT Sans Narrow;
    font-weight: 800;
    
}

.header-h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: PT Sans Narrow;
    font-weight: 900;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: block;
    color: aliceblue;
    background-color: #121619;
    border: 1px solid black;
}
.header-img{
  padding-left: 20px;
}

.image {
    padding-top: 20px;
  
}
.image5{
    background-image: url(/public/Image/Illustration/imgi_29_order-top-removebg-preview.png);
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
  
}
@media(min-width:768px){
     .header-section {
   
    width: 100%;
    height: 100vh;
    background-image: url('/public/Image/Background/imgi_73_chef-bg-1.jpeg');
}
    .image {
        height: 400px;
        padding-top: 20px;
    }
    .header-welcome {
    color: #E86F19;
    font-size: 40px;
     font-family: PT Sans Narrow;
    font-weight: 800;

}
.header-h1 {
    color: white;
    font-size: 100px;
    padding: 20px;
    font-family: PT Sans Narrow;
    font-weight: 900;
}

   
    .image{
        padding-left: 150px;
    }
}
@media(min-width:992px){
    .header-section {
   
    width: 100%;
    height: 70vh;
    background-image: url('/public/Image/Background/imgi_73_chef-bg-1.jpeg');
}
  .header-h1{
       font-size: 90px;
    }
    .header-welcome{
      font-size: 40px;
    }
    .imgcarousel{
        padding-top: 20px;
    }


}
@media(min-width:1024px){
    .imgcarousel{
        padding-top: 80px;
    }
     .image {
        height: 550px;
        width: 650px;
    }
     .header-welcome {
    color: #E86F19;
    font-size: 50px;
     font-family: PT Sans Narrow;
    font-weight: 800;

}
.header-h1 {
    color: white;
    font-size: 150px;
    padding: 20px;
    font-family: PT Sans Narrow;
    font-weight: 900;
}

}

@media (min-width:1440px) {
    .image {
        height: 650px;
        padding-top: 90px;
        padding-left: 30px;
    }
      .header-section {
   
    width: 100%;
    height: 90vh;
    background-image: url('/public/Image/Background/imgi_73_chef-bg-1.jpeg');
}

    .image2 {
        width: 100%;
        height: 150px;
       
    }
    .imgcarousel{
        padding-top: 20px;
    }
    .header-h1{
        font-size: 150px;
       
    }
    .header-welcome{
        font-size: 60px;
       
    }
    
    
}