@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.navbar2{
  background-image:url(/public/Image/Background/imgi_73_chef-bg-1.jpeg) ; 
  position: fixed;
  z-index: 100;
  width: 100%;
}
.navbar4{
  background-color:#121619 ;
  background-repeat: no-repeat;
  background-size: cover;

}
.navbar3{
 color: aliceblue;
 font-size: 20px;
 font-family: PT Sans Narrow;
}
.navbar3:hover{
  color: orange;
}
.navbar-toggler{
    background-color: aliceblue;
    
}
.navbar-toggle{
 color: orangered;
}
